# Set to true if the kafka cluster uses TLS certificate
export TRUSTSTORE_ENABLED=false
export TRUSTSTORE_PWD="password"
export TRUSTSTORE_PATH="resources/security/certs.jks"

export KAFKA_BROKERS="broker-3-.....eventstreams.cloud.ibm.com:9093"
export KAFKA_APIKEY="98YA....5"
     